<div class="submit-form">
  <div *ngIf="!submitted">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input
        type="text"
        class="form-control"
        id="nom"
        required
        [(ngModel)]="personne.nom"
        name="nom"
      />
    </div>

    <div class="form-group">
      <label for="prenom">Prenom</label>
      <input
        class="form-control"
        id="prenom"
        required
        [(ngModel)]="personne.prenom"
        name="prenom"
      />
    </div>    
	
	<div class="form-group">
      <label for="age">Age</label>
      <input
        class="form-control"
        id="age"
        required
        [(ngModel)]="personne.age"
        name="age"
      />
    </div>

    <button (click)="savePersonne()" class="btn btn-success">Submit</button>
  </div>

  <div *ngIf="submitted">
    <h4>Nouvelle enregistrement!</h4>
    <button class="btn btn-success" (click)="newTutorial()">Add</button>
  </div>
</div>