<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
		  <th scope="col">Age</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of personnes">
          <td>{{ person.id }}</td>
          <td>{{ person.nom }}</td>
		  <td>{{ person.prenom }}</td>
		  <td>{{ person.age }}</td>          
        </tr>
      </tbody>
    </table>
  </div>
</div>